
// SCSS
.article-container {
    padding: 2rem 4rem;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center; // מיישר את כל הטקסטים למרכז
}

.full-width-image-container {
    width: 100%;
    height: 80vh; // הגבלת גובה התמונה הראשית ל-80% מגובה המסך
    overflow: hidden;
    margin-bottom: 2rem;
}

.full-width-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 2rem;
}

.section-title-article {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
}

.text-image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

/* .section:nth-of-type(odd) .text-image-container {
    flex-direction: row; // תמונה בצד ימין, טקסט בצד שמאל
}

.section:nth-of-type(even) .text-image-container {
    flex-direction: row-reverse; // תמונה בצד שמאל, טקסט בצד ימין
} */

.section-image-article {
    width: 50%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}


.back-to-articles {
    display: inline-block;
    margin-top: 3rem;
    padding: 1rem 2rem;
    background-color: #d4a5e6; // צבע סגול לילך לכפתור
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1.2rem;
    text-align: center;
}

.back-to-articles:hover {
    background-color: #b58dc4;
    transform: translateY(-2px);
}

/* התאמה למובייל */
@media (max-width: 768px) {
    .article-container {
        padding: 1rem 2rem;
    }

    .section-title-article {
        font-size: 1.5rem;
    }

    .section-description-article {
        font-size: 0.9rem;
    }

    .text-image-container {
        flex-direction: column;
        text-align: center;
    }

    .section-image-article {
        width: 100%;
        max-width: 300px;
        margin-bottom: 1rem;
    }
}
