.cl-table {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    direction: rtl; // התאמה לעברית
    max-width: 20%;
    margin: 16px;
  }
  
  .cl-heading-bold {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .cl-error {
    color: red;
  }
  