.create-card-container {
    background-color: #ffffff;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    .dark & {
        background-color: #1f2937;
        color: #f9fafb;
    }
    h2 {
        font-size: 24px;
        font-weight: bold;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input, .textarea {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.textarea {
    resize: vertical;
    min-height: 100px;
}

.input-file {
    display: none; // Hide the default file input button
}

/* Custom file input button */
.file-label {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}

.file-name {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    color: #333;
}

.button {
    background-color: #1f2937;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    &:hover {
        background-color: #374151;
    }
}

.remove-button {
    background-color: #e11d48;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
        background-color: #9b1c31;
    }
}

.add-variant-button {
    background-color: #0ea5e9;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
        background-color: #0284c7;
    }
}

.text-red-500 {
    color: #f87171;
}

.dark .text-red-500 {
    color: #f87171;
}
