.latest-parasha {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .parasha-link {
    text-decoration: none;
    color: inherit;

    .parasha-card {
      max-width: 400px;
      img {
        border-radius: 8px;
        object-fit: cover;
      }
    }

    .parasha-title {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .parasha-mini-text {
      font-size: 1rem;
      color: #555;
      margin: 10px 0;
    }

    .parasha-author {
      font-size: 0.9rem;
      font-style: italic;
      color: #888;
    }
  }

  p {
    font-size: 1rem;
    color: #777;
    text-align: center;
  }
}
