.nav-chabad {
    display: flex;
    flex-direction: column;
    width: 100%;
    direction: rtl;

    .logo-container {
        height: 3rem;
        width: auto;
    }

    .nav-items-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .toggle-button,
    .theme-toggle {
        margin: 0.5rem;
    }

    .tooltip {
        background-color: #333;
        color: white;
        padding: 0.25rem;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-right: 1rem;
    }

    .nav-link {
        font-size: 1rem;
        margin-bottom: 1rem;
        color: #333;
        text-decoration: none;
        padding: 0.5rem 1rem;

        &.font-bold {
            font-weight: bold;
        }

        &:hover {
            background-color: #f0f0f0;
        }
    }

    .donate-link {
        background-color: #5e407d;
        color: white;
        border-radius: 0.25rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem 2rem;
        
        &:hover {
            background-color: #4b2f59;
        }
    }

    .icon {
        color: white;
    }
}


@media (max-width: 768px) {
  .navbar-collapse {
    max-height: 40vh;
    overflow-y: auto;
    font-size: 0.75rem !important;
  }

  .navbar {
    font-size: 0.75rem !important;
    width: 100% !important;
  }

  .navbar-brand {
    font-size: 0.875rem;
    width: 100%;
    text-align: center;
  }

  .navbar-collapse {
    font-size: 0.75rem;
  }

  .navbar-dropdown {
    font-size: 0.75rem;
  }

  .navbar-search {
    width: 100%;
    margin: 0 auto;
  }

  .navbar-link {
    padding: 0.5rem 1rem;
  }

  .navbar-toggle {
    margin-right: 0.5rem;
  }

  .navbar-dark-toggle {
    margin-right: 0.5rem;
  }

  .text-xl {
    font-size: 1rem !important;
  }

  .fi-shopping-cart,
  .fi-user,
  .fi-settings {
    font-size: 16px !important;
  }
}
